<h1>Farmer's Market Finder</h1>

<div class="zipSubmit">
    <form action="/" method="post">
        <input type="text" id="text" name="fname" required>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<table class="table">
    <tbody>
        <tr>
            <th scope="row">
                {{#each zipcode}}
                <li><a href="/{{id}}">{{marketname}}</a></li>
                {{/each}}
            </th>
            <td></td>
        </tr>
    </tbody>
</table>

<table class="id-table">
    <tbody>
        <tr>
            <th scope="row">
                <li>{{marketdetails.Address}}</li>
            </th>
        </tr>
    </tbody>
</table>

<p hidden id="hiddenlat"> {{lat}} </p>
<p hidden id="hiddenlong"> {{long}} </p>

<div id="map"></div>

<script type="text/javascript">
    let button = document.querySelector("#text")
    let resultSubmit = document.querySelector('#submit')

    button.addEventListener('click', function() {


        // 1. Using XMLHttpRequest()
        let request = new XMLHttpRequest()
        request.onreadystatechange = handleRequest
        request.open('GET')
        //open needs second argument, like url
        request.send()

        function handleRequest() {
            if (request.readyState === 4) {
                let response = JSON.parse(request.response)
                //does this mean we need bodyparser?
                console.log(response)
            }
        }
    })

</script>

<!-- <script src="../js/app.js"></script> -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc8jvI932fA69Fm64eIw_GBVFF5ASVTFw&callback=initMap">


</script>
